/* General Styles */
body {
  font-family: Georgia, Times, serif, sans-serif;
  margin: 0;
  padding: 0;
}
img.logo {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 40px;
  margin-bottom: 200px;
  float: left;
}

header {
  background-color: linear-gradient(to right, yellow, green);
  color: #000000;
  padding: 40px;
  text-align: right; /* Center the navigation menu */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block; /* Align the menu items horizontally */
}

nav ul li {
  display: inline;
  margin-right: 40px;
}

nav ul li a {
  color: #000000;
  text-decoration: none;
}

footer {
  background-color: yellow;
  color: black;
  padding: 10px 0;
  text-align: center;
}

.layer1 h1{
  text-align: center;
}
.layer1 p{
  text-align: center;
}
/* Align headings and lists in the center */
.centered {
  text-align: center;
}

.centered h1{
  text-align: right;
}

.layer4 h2{
  margin-left: 20px;
}
.centered ul {
  text-align: center;
  padding-inline-start: 0; /* To remove default padding on the left side of the list */
}

.centered li {
  display: inline-block; /* Display list items in a line */
  margin: 0 10px; /* Adjust margin as needed */
}

/*Homepage styling*/
.layer1 {
  background-color: yellow;
  padding: 40px;
  text-align: center;
}

.layer1 h1 {
  font-size: 36px; /* Adjust the font size as needed */
  margin-bottom: 10px;
  margin-right: 100px; /* Add spacing between heading and description */
}

.layer1 p {
  font-size: 18px; /* Adjust the font size as needed */
  margin-bottom: 0; /* Remove default bottom margin */
  margin-right: 100px;
}
.content{
  display: flex;
  align-items: center;
}
.text {
  flex: 1; /* Grow to fill available space */
  padding: 50px; /* Add padding for spacing */
}

.slideshow-container {
  position: relative;
  max-width: 800px;
  margin: auto;
  margin-left: 20px;
}

.slideshow-container img { /* Target images within slideshow container */
  width: 100%; /* Set width to 100% */
  height: auto; /* Maintain aspect ratio */
}

.slides {
  display: none;
  opacity: 0;
  transition: 1s ease;
}

.slides.active{
  display: block;
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/*Contact styling*/
.layer4 {
  background-color: yellow;
  padding: 40px;
  text-align: left; /* Align text to the left */
}

.contact-container {
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto; /* Center horizontally */
}

.contact-container h2 {
  text-align: center; /* Center the heading */
}

.contact-container p {
  margin-bottom: 10px; /* Add spacing between paragraphs */
}

